# Environments
.venv/
env/
venv/
ENV/
env.bak/
venv.bak/
logs/
.log
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo
dev-clean
dev-other
# Environment variables
.env
.env.local

# Project specific
tmp_model/
pretrained_models/
